@model IEnumerable<NET_290_291_T35.Models.ToDoTask.ToDoTask>
@{
    ViewData["Title"] = "Home Page";
}
<link href="~/css/task.css" rel="stylesheet" />

<h1>To do List</h1>

<section>
    <div class="d-flex justify-content-end mb-3">
        <a href="#" class="btn btn-primary shadow rounded" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Thêm nhiệm vụ</a>
    </div>
    <hr />
    <div class="d-flex gap-3">
        <aside class="w-25 shadow rounded">
            <h4 class="text-center">Trạng thái nhiệm vụ</h4>
            <form id="typetask" class="px-3 py-2" action="/Home/Index" method="get">
                <div class="d-flex justify-content-between form-check text-primary task">
                    <div class="w-100">
                        <input class="form-check-input" type="radio" name="task" value="0" id="tatca" checked>
                        <label class="form-check-label w-100" for="tatca">
                            Tất cả
                        </label>
                    </div>
                    <label class="form-check-label" for="tatca">0</label>
                </div>
                <div class="d-flex justify-content-between form-check text-success task">
                    <div class="w-100">
                        <input class="form-check-input" type="radio" name="task" value="1" id="hoanthanh">
                        <label class="form-check-label w-100" for="hoanthanh">
                            Hoàn thành
                        </label>
                    </div>
                    <label class="form-check-label" for="hoanthanh">0</label>
                </div>
                <div class="d-flex justify-content-between form-check text-warning task">
                    <div class="w-100">
                        <input class="form-check-input" type="radio" name="task" value="2" id="danglam">
                        <label class="form-check-label w-100" for="danglam">
                            Đang làm
                        </label>
                    </div>
                    <label class="form-check-label" for="danglam">0</label>
                </div>
                <div class="d-flex justify-content-between form-check text-danger task">
                    <div class="w-100">
                        <input class="form-check-input" type="radio" name="task" value="3" id="huybo">
                        <label class="form-check-label w-100" for="huybo">
                            Hủy bỏ
                        </label>
                    </div>
                    <label class="form-check-label" for="huybo">0</label>
                </div>
            </form>
        </aside>

        <article class="d-grid w-75">
            @* list item *@
            <div id="listtask" class="row row-cols-4">
                @if (Model.Count() > 0)
                {
                    @foreach (var item in Model)
                    {
                        <div class="col mb-4">
                            <div class="card shadow rounded @(item.Status == "1" ? "bg-success" : (item.Status == "2" ? "bg-warning" : "bg-danger"))">
                                <div class="card-body">
                                    <h5 class="card-title">@item.TaskName</h5>
                                    <p class="card-text">@item.StartDay</p>
                                    <p class="card-text">@item.EndDay</p>
                                    @* <p class="card-text">@item.Status</p> *@
                                    @* <p class="card-text">Trang thai</p> *@
                                    <div class="d-flex justify-content-between gap-1">
                                        <a href="javascript:void(0)" onclick="deleted(`@(item.Id)`)" class="w-100 btn btn-outline-danger shadow rounded">Xóa</a>
                                        <a href="#" class="w-100 btn btn-warning shadow rounded">Sửa</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <h4 class="text-center">Khong co du lieu</h4>
                }
            </div>
        </article>
    </div>
</section>
<section>
    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <h5 class="modal-title text-white" id="staticBackdropLabel">Thêm nhiệm vụ</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="tennhiemvu" class="form-label fw-bold">Tên nhiệm vụ</label>
                        <input type="email" class="form-control" id="tennhiemvu" placeholder="">
                    </div>
                    <div class="d-flex justify-content-between gap-3">
                        <div class="mb-3 w-50">
                            <label for="thoigianbatdau" class="form-label fw-bold">Thời gian bắt đầu</label>
                            <input type="date" class="form-control" id="thoigianbatdau" value="" placeholder="">
                        </div>
                        <div class="mb-3 w-50">
                            <label for="thoigianketthuc" class="form-label fw-bold">Thời gian kết thúc</label>
                            <input type="date" class="form-control" id="thoigianketthuc" value="" placeholder="">
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label fw-bold">Trạng thái</label>
                        <select class="form-select" id="trangthai" aria-label="Trạng thái">
                            <option selected value="1">Hoàn thành</option>
                            <option value="2">Đang làm</option>
                            <option value="3">Hủy bỏ</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="mota" class="form-label fw-bold">Mô tả</label>
                        <textarea class="form-control" id="mota" rows="3"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="javascript:void()" class="btn btn-outline-secondary" data-bs-dismiss="modal">Hủy bỏ</a>
                    <a id="addtask" href="javascript:void(0)" class="btn btn-primary">Thêm nhiệm vụ</a>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
    $(document).ready(() => {
        toastr.info('You clicked Info toast');
    });

    $("#addtask").click(() => {
        var ten = $("#tennhiemvu").val();
        var batdau = $("#thoigianbatdau").val();
        var ketthuc = $("#thoigianketthuc").val();
        var trangthai = $("#trangthai").val();
        var mota = $("#mota").val();
        $.ajax({
            type: 'POST',
            url: '/Home/AddToDoTask',
            data: { ten: ten, batdau: batdau, ketthuc: ketthuc, trangthai: trangthai, mota: mota },
            success: function (result) {
                // Handle the response from the controller
                if (result != null) {
                    alert("Thêm thành công!");
                    $("#staticBackdrop").removeClass("show");
                    // toastr.success('Thêm nhiệm vụ thành công!');
                    location.reload();
                }
            }
        });
    });

    $("input[name='task']").change(() => {
        var temp = $("input[name='task']:checked").val();
        // alert(temp);
        $("#listtask").empty();
        // console.log(temp)
        $.ajax({
            type: 'POST',
            url: '/Home/LoadData',
            data: { trangthai: temp },
            success: function (result) {
                // console.log(result)
                if (result.length > 0) {
                    result.map((row) => {
                        let r = `<div class="col mb-4">
                                    <div class="card shadow rounded ${row.status == "1" ? "bg-success" : (row.status == "2" ? "bg-warning" : "bg-danger")}">
                                        <div class="card-body">
                                            <h5 class="card-title">${row.taskName}</h5>
                                            <p class="card-text">${row.startDay}</p>
                                            <p class="card-text">${row.endDay}</p>
                                            <div class="d-flex justify-content-between gap-1">
                                                <a href="javascript:void(0)" onclick="deleted('${row.id}')" class="w-100 btn btn-outline-danger shadow rounded">Xóa</a>
                                                <a href="#" class="w-100 btn btn-warning shadow rounded">Sửa</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>`;
                        $("#listtask").append(r);
                    });
                } else {
                    let r = '<h4 class="text-center">Khong co du lieu</h4>';
                    $("#listtask").append(r);
                }
            }
        });
    })

    function deleted(id) {
        $.ajax({
            type: 'GET',
            url: '/Home/DeleteToDoTask',
            data: { id: id },
            success: function (result) {
                // Handle the response from the controller
                if (result != null) {
                    $("#staticBackdrop").removeClass("show");
                    alert("Xóa thành công!");
                    location.reload();
                }
            },
            error: function (xhr, status, error) {
                // Handle errors
                console.error(xhr.responseText);
            }
        });
    }
</script>