@model IEnumerable<NET_290_291_T35.Models.ToDoTask.ToDoTask>
@{
    ViewData["Title"] = "Home Page";
}
<link href="~/css/task.css" rel="stylesheet" />

<h1>To do List</h1>

<section>
    <div class="d-flex justify-content-end mb-3">
        <a href="#" class="btn btn-primary shadow rounded" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Thêm nhiệm vụ</a>
    </div>
    <hr />
    <div class="d-flex gap-3">
        <aside class="w-25 shadow rounded">
            <h4 class="text-center">Trạng thái nhiệm vụ</h4>
            <div id="typetask" class="px-3 py-2">
                <div class="d-flex justify-content-between form-check text-primary task">
                    <div class="w-100">
                        <input class="form-check-input" type="radio" name="task" value="0" id="tatca" checked>
                        <label class="form-check-label w-100"  for="tatca">
                            Tất cả
                        </label>
                    </div>
                    <label class="form-check-label" id="label-tatca" for="tatca">0</label>
                </div>
                <div class="d-flex justify-content-between form-check text-success task">
                    <div class="w-100">
                        <input class="form-check-input" type="radio" name="task" value="1" id="hoanthanh">
                        <label class="form-check-label w-100" for="hoanthanh">
                            Hoàn thành
                        </label>
                    </div>
                    <label class="form-check-label" id="label-hoanthanh" for="hoanthanh">0</label>
                </div>
                <div class="d-flex justify-content-between form-check text-warning task">
                    <div class="w-100">
                        <input class="form-check-input" type="radio" name="task" value="2" id="danglam">
                        <label class="form-check-label w-100" for="danglam">
                            Đang làm
                        </label>
                    </div>
                    <label class="form-check-label" id="label-danglam" for="danglam">0</label>
                </div>
                <div class="d-flex justify-content-between form-check text-danger task">
                    <div class="w-100">
                        <input class="form-check-input" type="radio" name="task" value="3" id="huybo">
                        <label class="form-check-label w-100" for="huybo">
                            Hủy bỏ
                        </label>
                    </div>
                    <label class="form-check-label" id="label-huybo" for="huybo">0</label>
                </div>
            </div>
        </aside>

        <article class="d-grid w-75">
            @* list item *@
            <div id="listtask" class="row row-cols-4">
                @if (Model.Count() > 0)
                {
                    @foreach (var item in Model)
                    {
                        <div class="col mb-4">
                            <div class="card shadow rounded @(item.Status == "1" ? "card-done" : (item.Status == "2" ? "card-waiting" : "card-remove"))" id="@item.Id">
                                <div class="card-body">
                                    <h5 class="card-title">@item.TaskName</h5>
                                    <div class="d-flex flex-column mb-2">
                                        <small class="card-text"><i class='bx bx-time'></i>@item.StartDay</small>
                                        <small class="card-text"><i class='bx bx-time'></i>@item.EndDay</small>
                                    </div>
                                    <div class="d-flex justify-content-between gap-1">
                                        <a href="javascript:void(0)" onclick="deleted('@(item.Id)')" class="w-100 btn btn-outline-danger shadow rounded"><i class='bx bx-bookmark-minus'></i></a>
                                        <a href="javascript:void(0)" onclick="DetailTask('@(item.Id)')" class="w-100 btn btn-primary shadow rounded"><i class='bx bx-bookmark-minus'></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <h4 class="text-center">Khong co du lieu</h4>
                }
            </div>
        </article>
    </div>
</section>
<section>
    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <h5 class="modal-title text-white" id="staticBackdropLabel">Thêm nhiệm vụ</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="text" id="idcard" value="" hidden/>
                    <div class="mb-3">
                        <label for="tennhiemvu" class="form-label fw-bold">Tên nhiệm vụ</label>
                        <input type="email" class="form-control" id="tennhiemvu" value="" placeholder="">
                    </div>
                    <div class="d-flex justify-content-between gap-3">
                        <div class="mb-3 w-50">
                            <label for="thoigianbatdau" class="form-label fw-bold">Thời gian bắt đầu</label>
                            <input type="date" class="form-control" id="thoigianbatdau" value="" placeholder="">
                        </div>
                        <div class="mb-3 w-50">
                            <label for="thoigianketthuc" class="form-label fw-bold">Thời gian kết thúc</label>
                            <input type="date" class="form-control" id="thoigianketthuc" value="" placeholder="">
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label fw-bold">Trạng thái</label>
                        <select class="form-select" id="trangthai" aria-label="Trạng thái">
                            <option selected value="1">Hoàn thành</option>
                            <option value="2">Đang làm</option>
                            <option value="3">Hủy bỏ</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="mota" class="form-label fw-bold">Mô tả</label>
                        <textarea class="form-control" id="mota" value="" rows="3"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="javascript:void()" class="btn btn-outline-secondary" data-bs-dismiss="modal">Hủy bỏ</a>
                    <a id="addtask" href="javascript:void(0)" class="btn btn-primary">Thêm nhiệm vụ</a>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
    $(document).ready(() => {
        // toastr.info('You clicked Info toast');
        LoadNumber();
    });

    function LoadData(temp) {
        $("#listtask").empty();
        $.ajax({
            type: 'POST',
            url: '/Home/LoadData',
            data: { trangthai: temp },
            success: function (result) {
                if (result.length > 0) {
                    result.map((row) => {
                        let r = `<div class="col mb-4">
                                    <div class="card shadow rounded ${row.status == "1" ? "card-done" : (row.status == "2" ? "card-waiting" : "card-remove")}"
                                        id="${row.id}">
                                            <div class="card-body">
                                            <h5 class="card-title">${row.taskName}</h5>
                                            <div class="d-flex flex-column mb-2">
                                                <small class="card-text"><i class='bx bx-time'></i>${row.startDay}</small>
                                                <small class="card-text"><i class='bx bx-time'></i>${row.endDay}</small>
                                            </div>
                                            <div class="d-flex justify-content-between gap-1">
                                                <a href="javascript:void(0)" onclick="deleted('${row.id}')" class="w-100 btn btn-outline-danger shadow rounded"><i class='bx bx-bookmark-minus'></i></a>
                                                <a href="javascript:void(0)" onclick="DetailTask('${row.id}')" class="w-100 btn btn-primary shadow rounded"><i class='bx bx-bookmark-minus'></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>`;
                        $("#listtask").append(r);
                    });
                } else {
                    let r = '<h4 class="text-center">Khong co du lieu</h4>';
                    $("#listtask").append(r);
                }
                LoadNumber();
            }
        });
    }

    function LoadNumber(){
        $.ajax({
            type: 'POST',
            url: '/Home/LoadData',
            data: { trangthai: "0" },
            success: function (result) {
                $("#label-tatca").text(result.length);
                $("#label-hoanthanh").text($.grep(result, (x) => x.status == "1").length);
                $("#label-danglam").text($.grep(result, (x) => x.status == "2").length);
                $("#label-huybo").text($.grep(result, (x) => x.status == "3").length);
            }
        });
    }

    $("input[name='task']").change(() => {
        var temp = $("input[name='task']:checked").val();
        LoadData(temp);
    })

    $("#staticBackdrop").on("hide.bs.modal", () => {
        ClearForm();
    });

    $("#addtask").click(() => {
        var id = $("#idcard").val();
        var ten = $("#tennhiemvu").val();
        var batdau = $("#thoigianbatdau").val();
        var ketthuc = $("#thoigianketthuc").val();
        var trangthai = $("#trangthai").val();
        var mota = $("#mota").val();
        if (id == "") {
            $.ajax({
                type: 'POST',
                url: '/Home/AddToDoTask',
                data: { ten: ten, batdau: batdau, ketthuc: ketthuc, trangthai: trangthai, mota: mota },
                success: function (result) {
                    // Handle the response from the controller
                    if (result != null) {
                        $("#staticBackdrop").modal('hide')
                        var temp = $("input[name='task']:checked").val();
                        LoadData(temp);
                        toastr.success('Thêm nhiệm vụ thành công!');
                    }
                }
            });
        } else {
            $.ajax({
                type: 'POST',
                url: '/Home/UpdateToDoTask',
                data: { id: id, ten: ten, batdau: batdau, ketthuc: ketthuc, trangthai: trangthai, mota: mota },
                success: function (result) {
                    // Handle the response from the controller
                    if (result != null) {
                        $("#staticBackdrop").modal('hide')
                        var temp = $("input[name='task']:checked").val();
                        LoadData(temp);
                        toastr.success('Cập nhật nhiệm vụ thành công!');
                    }
                }
            });
        }
    });

    function DetailTask(id) {
        // alert(id);
        // $("#staticBackdrop").modal('show');
        $.ajax({
            type: 'GET',
            url: '/Home/DetailToDoTask',
            data: { id: id },
            success: function (result) {
                console.log(result);
                RenderModalUpdate(result);
            }
        });

    }

    function ClearForm() {
        $("#tennhiemvu").val("");
        $("#batdau").val("");
        $("#ketthuc").val("");
        $("#trangthai").find("option[value='1']").prop("selected", true);
        $("#mota").val("");
    }

    function RenderModalUpdate(result) {
        $("#staticBackdropLabel").text("Chi tiết nhiệm vụ");
        $("#idcard").val(result.id);
        $("#tennhiemvu").val(result.taskName);
        $("#batdau").val(result.startDay);
        $("#ketthuc").val(result.endDay);
        $("#trangthai").find("option[value='" + result.status + "']").prop("selected", true);
        $("#mota").val(result.discription);
        $("#addtask").text("Cập nhật");
        $("#staticBackdrop").modal('show');
    }

    function deleted(id) {
        $.ajax({
            type: 'GET',
            url: '/Home/DeleteToDoTask',
            data: { id: id },
            success: function (result) {
                // Handle the response from the controller
                if (result != null) {
                    $("#staticBackdrop").modal('hide')
                    var temp = $("input[name='task']:checked").val();
                    LoadData(temp);
                    toastr.success('Xóa nhiệm vụ thành công!');
                }
            },
            error: function (xhr, status, error) {
                // Handle errors
                console.error(xhr.responseText);
            }
        });
    }

    $(() => {
        var panelList = $('#listtask');

        panelList.sortable({
            handle: '.card',
            update: () => {
                $('.card', panelList).each(function (index, elem) {
                    var $listItem = $(elem),
                        newIndex = $listItem.index();
                });
            }
        });
    })
    
</script>